/* http://yui.github.io/gridbuilder/ */
.grid {
  margin: 0;
  padding: 0;
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  *word-spacing: -0.43em;
  text-rendering: optimizespeed;
}
.opera-only :-o-prefocus,
.grid {
  word-spacing: -0.43em;
}
.unit {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
}
.unit-spacer {
  padding: 8px;
}
.unit-s-hidden {
  display: none;
  visibility: hidden;
}
.unit-s-1 {
  display: block;
  width: 100%;
}
.unit-s-1-2,
.unit-s-1-3,
.unit-s-2-3,
.unit-s-1-4,
.unit-s-3-4 {
  display: inline-block;
  *display: inline;
  visibility: visible;
  width: 100%;
}
.unit-s-1-2 {
  width: 50%;
}
.unit-s-1-3 {
  width: 33.33333%;
}
.unit-s-2-3 {
  width: 66.66667%;
}
.unit-s-1-4 {
  width: 25%;
}
.unit-s-3-4 {
  width: 75%;
}
@media only screen and (min-width: 38em) {
  .unit-m-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-m-1 {
    display: block;
    width: 100%;
  }
  .unit-m-1-2,
  .unit-m-1-3,
  .unit-m-2-3,
  .unit-m-1-4,
  .unit-m-3-4 {
    display: inline-block;
    *display: inline;
    visibility: visible;
    width: 100%;
  }
  .unit-m-1-2 {
    width: 50%;
  }
  .unit-m-1-3 {
    width: 33.33333%;
  }
  .unit-m-2-3 {
    width: 66.66667%;
  }
  .unit-m-1-4 {
    width: 25%;
  }
  .unit-m-3-4 {
    width: 75%;
  }
}
@media only screen and (min-width: 60em) {
  .unit-l-hidden {
    display: none;
    visibility: hidden;
  }
  .unit-l-1 {
    display: block;
    width: 100%;
  }
  .unit-l-1-2,
  .unit-l-1-3,
  .unit-l-2-3,
  .unit-l-1-4,
  .unit-l-3-4 {
    display: inline-block;
    *display: inline;
    visibility: visible;
    width: 100%;
  }
  .unit-l-1-2 {
    width: 50%;
  }
  .unit-l-1-3 {
    width: 33.33333%;
  }
  .unit-l-2-3 {
    width: 66.66667%;
  }
  .unit-l-1-4 {
    width: 25%;
  }
  .unit-l-3-4 {
    width: 75%;
  }
}
