<!DOCTYPE html>
<html lang=en-ca>
<head>
  <meta charset=utf-8>
  <title>Dinosaurs</title>
  <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/icons.css" rel="stylesheet">
</head>
<body>

<header>
  <nav>
    <a href="{{site.baseurl}}/">Home</a>
    <a href="{{site.baseurl}}/carnivores.html">Carnivores</a>
    <a href="{{site.baseurl}}/herbivores.html">Herbivores</a>
  </nav>
</header>

{{content}}

</body>
</html>
