<!doctype html>
<html>
<head>
<meta charset="UTF-8">
    <title>Dinosaurs</title>
    <link href="css/general.css" rel="stylesheet">
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>

	<header>
		<h1>Dinosaurs</h1>
        	<nav
            	<ul class="nav">
                	<li><a href="index.html">Home</a></li>
                    <li><a href="#">Herbivores</a></li>
                    <li><a href="#">Carnivores</a></li>
                </ul>
            </nav>
	</header>
    
    {{content}}
    
    <footer>
    	<p>© 2013 Dinosaurs!</p>
    </footer>
    
</body>
</html>
